# Mac specific
.DS_Store

# Windows specific

# Data folders
data/
split_data/
split_data*
extra_data*
extra-data*
split*
new_split*

# Logs
logs/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

__pycache__/

# Ignore models
models/

model_info/

synthetic_data/